.App {
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 80px;
    text-shadow: black 1px 0 10px;
    padding-bottom: 18px;
    margin-left: 50px;
    font-size: 75px;
    line-height: 1.1
}

.App .content{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between
}

